body,
html {
  margin: 0;
  padding: 0;
  font-size: 20px;
}

body {
  color: #fff;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: black;
  overflow: hidden;
}

#count {
  font-family: monospace;
  font-weight: 300;
  font-size: 32px;
  text-align: center;
  display: block;
  margin: 0 auto;
}

#anim {
  height: 100vh;
  width: 100vw;
  display: block;
}

.main {
  padding: 0;
  max-width: 100%;
  position: relative;
}

.c-anim__ant {
  position: absolute;
  left: 0;
}

.ant {
  display: inline-block;
  position: absolute;
}

.intro {
  position: fixed;
  right: 50px;
  top: 36px;
  margin: 0;
}

#dude {
  display: inline-block;
}

h3 {
  font-size: 2rem;
  cursor: default;
}

#motionPath,
#motionPathB,
#motionPathC {
  height: auto;
  max-height: calc(100vh - 200px);
  max-width: 100%;
  display: block;
}

#path {
  stroke: rgba(255, 255, 0, 0.5);
}

#pathB {
  stroke: rgba(0, 128, 0, 0.5);
}

#pathC {
  stroke: rgba(255, 0, 0, 0.5);
}

.c-anim__ant {
  display: inline-block;
  /* background-color: rgba(15, 255, 27, 0.05); */
  /* border: 1px solid rgba(255,255,255,.1); */
}

#motionPath {
  position: absolute;
  top: 0%;
  left: 0;
}

#motionPathB {
  position: absolute;
  top: 340px;
  left: 200px;
}

#motionPathC {
  position: absolute;
  right: 400px;
  top: 100px;
}
